@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-primary;
}

:root {
  --color-primary: #2C2C54;
  --color-secondary: #1E1E1E;
  --color-accent-1: #FFD700;
  --color-accent-2: #3A3A3A;
  --color-accent-3: #00FFFF;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}